.Packages{
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.who-is{
    margin: auto;
    text-align: center;
 }
.card{
    width: 100%;
    flex: 12%;
    height: max-content;
    box-shadow: 3px 3px 4px rgb(61, 60, 60);
    margin: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

@media only screen and (max-width:960px) {
    
    .card{
        flex: 22%;
        margin: 2rem;
    }
}
.card p{
    color: grey;
}
.card ul{
    list-style-type: none;
    display: block;
    margin: auto;
    color: grey;
    font-size: 12px;
    
}
.card hr{
    width: 15vw;
}
