.Team{
    width: 100vw;
    height: max-content;
    padding-bottom: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
/* @media only screen and (max-width:960px) {
    .Team-img{
        width: 100%;
        height: 60%;
    }
    .Team1{
        width: 40vw;
        height: max-content;
        font-size: 10px;
       
    }
}
@media only screen and (max-width:480px) {
    .Team-img{
        width: 100%;
        height:  60%;
    }
    .Team1{
        width: 40vw;
        height: max-content;
        font-size: 10px;
       
    }
} */

.Team1{
    width: 25vw;
    height: 60vh;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.Team-img{
    padding-top: 10px;
    width: 80%;
    height: 60%;
    border-radius: 5px;
}