.Contact{
    width: 100%;
     height: max-content;
     text-align: center;
     margin-top: 0%;
    
 }
 .Contactus{
     width: 100vw;
     text-align: center;
     height:max-content;
     margin:auto;
     background-color: white;
     padding-top: 2rem;
    
 
 }
 .call{
     margin: 2rem;
     opacity: 1;

 }
 .fab {
     margin: 20px;
     
 }
 .call i{
     margin: 20px;

 }
 .array-img{
    opacity: 1;
     height: 60vh;
     border-radius: 100%;
 }