.Contacts{
    width: 100vw;
    height: max-content;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: burlywood;
    margin-top: 2rem;
    color: #0000;
 
}
.container-contact{
    display: flex;
    margin: auto;
    text-align: center;
    color: black;
    font-family: System;
    flex-wrap: wrap;
}
.specific-contact{
    margin: auto;
    flex: 30%;
    width: 100%;
}
