.Contact{
    width: 100vw;
     text-align: center;
    height:90vh;
    background-image: linear-gradient(to bottom,transparent,black)  ,url('/public/Images/amani15.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
 }
 .Contactus{
     width: 100vw;
     text-align: center;
     height:max-content;
     margin:auto;
     display: flex;
     color: white; 
     padding-top: 2rem;
    
 
 }
 .call{
     margin: auto;
     opacity: 1;
    position: absolute;
    bottom: 30%;
    width: 100vw;
    

 }
 .call h2{
     margin: auto;
 }
 .fab {
     margin: 20px;
     
 }
 .call i{
     margin: 20px;

 }
 